* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../src/assets/background/beach.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  font-family: papyrus;
}


header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  backdrop-filter:blur(50px);
}
header h2 {
  font-size: 50px;
  color: #fafafa;
  text-decoration-line:underline;
  text-shadow: 0 0 10px rgb(100, 89, 89);
}
header nav ul {
  margin-bottom: 10%;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header  a {
  padding: 10px 15px;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 5px rgb(100, 89, 89);
}

header nav ul li a:hover {
  background: rgb(152, 202, 222);
  border-radius: 2px;
}