* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../src/assets/background/volcano.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  font-family: "Mukta", sans-serif;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h2 {
  font-size: 40px;
  font-weight: normal;
}
h4, #contact-text {
  font-size: 25px;
}

header nav ul {
  margin-bottom: 10%;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul a {
  color: white;
}
header a {
  text-decoration: none;
  padding: 10px 15px;
  color: #000000;
}

header nav ul li a:hover {
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.box {
  font-size: 18px;
  margin-top: 20vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content
}

p {
  color: rgb(197, 197, 197);
}

/*CONTACT FORM STYLING*/

#contact-form {
  margin-top: 20vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content
}

.languages {
  margin-top: 5vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content
}
.languages-bk {
  margin-top: 3vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content;
  color: rgb(197, 197, 197);
}
 .download {
  margin-top: 10vw;
  text-align: center;
 }

/*PROJECT/CHALLENGE STYLING*/

.image-container {
  padding: 30px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .image-container {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgb(249, 89, 26);
}

button:hover {
  opacity: .8;
}


img {
  width: 100%;
  height: 100%;
}
/*FOOTER STYLING*/

#root {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

footer {
  color: rgb(249, 89, 26);
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  text-align: center;
}
