* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: rgb(227, 227, 227);
  --secondary: #000000;
}

body {
  background-image: url("../src/assets/background/volcano.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;
  font-family: "Mukta", sans-serif;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  top: 0;
}

header h2 {
  font-size: 40px;
  font-weight: normal;
}
h4,
#contact-text {
  font-size: 25px;
}

header nav ul {
  margin-bottom: 10%;
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
header nav ul a {
  color: var(--primary);
}
header a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--secondary);
}

header nav ul li a:hover {
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.box {
  font-size: 18px;
  margin-top: 20vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content;
}

p,
.intro {
  color: var(--primary);
}
/*PORTFOLIO STYILING*/

.cards {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vw;
}

.projects {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 8px;
  padding: 35px;
  margin: 10px 10px 10px 10px;
  backdrop-filter: blur(40px);
}

.title {
  margin-bottom: 10px;
}
.portfolio-links {
  text-align: center;
  color: var(--primary);
}

.git,
.demo {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 9px;
  color: var(--secondary);
  background-color: rgb(249, 89, 26);
}

/*CONTACT FORM STYLING*/

#contact-form {
  justify-content: center;
  margin-top: 10vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  block-size: fit-content;
}

.languages {
  margin-top: 15vw;
  width: 60%;
  margin-left: 20vw;
  height: 28vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content;
}
.languages-bk {
  margin-top: 2vw;
  width: 60%;
  margin-left: 20vw;
  height: 30vh;
  border-style: solid;
  border-width: 8px;
  padding: 10px;
  backdrop-filter: blur(40px);
  display: block;
  block-size: fit-content;
  color: var(--primary);
}

.resume {
  margin-bottom: 20vw;
}
.download {
  color: #f9461af8;
  margin-top: 2vw;
  text-align: center;
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 9px;
  background-color: #f9461af8;
}

.btn:hover {
  opacity: 0.8;
}

img {
  width: 100%;
  height: 100%;
}
/*FOOTER STYLING*/

#root {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

